/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// for german locale

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip { chain-length = <27>; };

/ {
    combos {
        compatible = "zmk,combos";

        Layer3 {
            bindings = <&tog 3>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q                &kp W  &kp E     &kp R  &kp T        &kp DE_Z  &kp U            &kp I      &kp O    &kp BACKSPACE       &none
&none  &kp A                &kp S  &kp D     &kp F  &kp G        &kp H     &kp J            &kp K      &kp L    &kp P               &none
&none  &mt LEFT_SHIFT DE_Y  &kp X  &kp C     &kp V  &kp B        &kp N     &kp M            &kp COMMA  &kp DOT  &mt LCTRL DE_MINUS  &none
                                   &kp LGUI  &mo 1  &kp SPACE    &kp RET   &kp RIGHT_SHIFT  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp N1      &kp N2        &kp N3        &kp N4          &kp N5          &kp N6           &kp N7           &kp N8           &kp N9         &kp N0           &none
&none  &kp TAB     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3    &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT      &rgb_ug RGB_EFF  &trans
&none  &kp ESCAPE  &kp DELETE    &bt BT_CLR    &kp LEFT_SHIFT  &kp LEFT_ALT    &kp DE_O_UMLAUT  &kp DE_A_UMLAUT  &kp DE_U_UMLAUT  &kp DE_ESZETT  &rgb_ug RGB_TOG  &trans
                                 &kp LGUI      &trans          &kp SPACE       &kp RET          &kp RALT         &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EXCL              &kp DE_DOUBLE_QUOTES  &kp DE_DOLLAR     &kp DE_LEFT_BRACKET  &kp RIGHT_BRACKET      &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &kp DE_SLASH      &kp DE_QMARK  &kp DE_GRAVE       &none
&none  &kp DE_AT             &kp DE_PERCENT        &kp DE_AMPERSAND  &kp DE_LESS_THAN     &kp DE_GREATER_THAN    &kp DE_LEFT_BRACE        &kp DE_RIGHT_BRACE        &kp DE_PIPE       &kp DE_EQUAL  &kp DE_HASH        &none
&none  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp K_MUTE        &kp C_VOLUME_DOWN    &kp C_VOLUME_UP        &kp DE_ASTERISK          &kp DE_PLUS               &kp DE_BACKSLASH  &kp DE_COLON  &kp DE_UNDERSCORE  &none
                                                   &kp LGUI          &trans               &kp SPACE              &kp RET                  &kp RALT                  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1           &kp F2       &kp F3         &kp F4             &kp F5          &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &rgb_ug RGB_TOG  &trans
&trans  &kp F6           &kp F7       &kp F8         &kp F9             &kp F10         &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &bl BL_INC       &trans
&trans  &kp PRINTSCREEN  &kp PAGE_UP  &kp PAGE_DOWN  &ext_power EP_TOG  &out OUT_TOG    &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &bl BL_TOG       &bl BL_CYCLE     &studio_unlock   &trans
                                      &trans         &trans             &trans          &trans           &trans           &trans
            >;
        };
    };
};
